body {font-family: Times New Roman;
      background-color: #228B22;
     }
h1 {font-size: 35px;
    text-align: center;
    color: #ffff00;
   }
p {color: #ffffff;
   font-size: 17px;
   text-align: justify;
  }
ul {list-style-type: square;
   color: #ffffff
   }

.exemplo {font-family: Arial;
          color: #ffff00;
         }
p::before {
      content: "👉🏾";
    }